body {background-color: chocolate;}
li {background-color: burlywood;
text-align: center;}
.amarillo {background-color: burlywood;
text-align: center;}
.amarillo {font-size: 20px;}
.red {color: bisque;
text-decoration:underline;}
img {width: 500px; height: 300px;}
