body {background-color: black;
    background-image: url(../imagenes/toro.jpg);
    background-attachment: fixed;
}
li {background-color: burlywood;
text-align: center;}
.amarillo {background-color: burlywood;
text-align: center;}
.amarillo {font-size: 2vw;}
.red {color: bisque;
text-decoration:underline;}
.espacio {margin-left: 5vw;
}
aside {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

}
header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    border-radius: 5vw;
}
.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 5vw;
    justify-content: space-around;
    align-items: center;
}
.redes2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.titulo {
    background-color: burlywood;
    border-radius: 3vw;
    margin: 1vw;

}
.receta {
    background-color: burlywood;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 5vw;
}
.ipc {
  background-color: burlywood;
  padding: : 1vw;
  border-radius: 3vw;
}
.mapa{
  margin: 1vw;
}

nav {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  margin-left: 17vw;
  margin-right: 17vw;
  border-radius: 2vw;
  background-color: #8e1111;

}
.enlaces {
  margin: 2vw;
}

.logo {
  border-radius: 10vw;
}
a:hover {
  background-color: #6c0e0e;
  font-size: 2vw;
}
